@tailwind preflight;
@tailwind components;
@tailwind utilities;

:root {
    --grey-color:#5f6764;   
    --grey-light-color: #ccc; 
}

.item-color {
    color: var(--grey-light-color);
}

.item-color-active {
    color: var(--grey-color);
}

.border-color-active {
    border-color: var(--grey-color);
}

.paddingyb {
    padding: 25px 0;
}
.padding-left30 {
    padding-left: 30px;
}

.icon-weight {
    -webkit-text-stroke: 1.5px white;
}

.arizto-grey {
    color: var(--grey-color);
}
.arizto-bg-grey {
    background-color: var(--grey-color);
}

.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}

.form-control-focus {
    border-color: #66afe9;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102,175,233,.6);
}

.text-capitalize {
    text-transform: capitalize;
  }

/*===== App header css ====*/
.App-header {
    /* @apply .flex .justify-between */
}
.header-top, .header-tab, .header-bot {
    @apply .flex .mb-8
}
.header-top {
    @apply .justify-between
}
.top-profile {
    @apply .flex .flex-col
}
.header-tab {
    @apply .text-center
}
.search-icon {
    @apply .absolute .flex .items-center .ml-2 .pin-t .h-full
}
.tab-toggle {
    @apply .w-1/2 .border-b-4 .pb-4
}
.tab {
    @apply .w-1/2 .border-b .pb-4
}
.header-bot input {
    @apply .padding-left30
}
.bot-buttons-wrap {
    @apply .w-1/4 .flex .justify-around
}
/*===== change default modal css ====*/
.modal-header {
    border-bottom:0;
}
.modal-body {
    padding:0;
}

/* S: modal-task  */
.modal.in .modal-sm {
    transform: translate(0,30%);
}
.modal-sm .modal-content {
    border-radius: 20px;
}

.modal-task-title {
    @apply .text-center .font-bold .mb-8
}

.modal-task-p {
    @apply .text-center .arizto-grey .mb-8 .mx-8
}

.modal-task-btn {
    @apply .text-center .arizto-grey .paddingyb .border-t .border-grey
}
/* E: modal-task  */

/* S: modal-new-task */
.modal-new-task .modal-dialog{
    @apply .w-screen .h-screen .m-0 .border-0
}
.modal-new-task .modal-dialog .modal-content {
    @apply .h-full .border-0 .rounded-none
}
.modal-new-task form input {
    @apply .form-control
}
.modal-new-task form input:focus {
    @apply .form-control-focus
}
.modal-new-task form {
    @apply .mx-8
}
.react-datepicker-wrapper, .react-datepicker__input-container {
    @apply .block
}
.task-form-submit {
    @apply .fixed .pin-b .pin-l .w-screen .h-12 .arizto-bg-grey .text-white .border-0
}
.footer {
    @apply .fixed .pin-b .w-full
}
.footer-list-wrap {
    @apply .pl-0 .flex .justify-around
}
.footer-list-items {
    @apply .list-reset .flex .flex-col .items-center .w-1/5 .border-t-4 .border-transparent .pt-2
}
.item-icon {
    @apply .text-xl .item-color 
}
.item-name {
    @apply .text-xs .text-capitalize .item-color
}
.footer-list-items.active {
    @apply .border-t-4 .border-color-active 
}
.footer-list-items.active .item-icon, .footer-list-items.active .item-name {
    @apply .item-color-active 
}
/* E: modal-new-task */