
:root {
  --main-color: #17be8a;
  --sub-color: #033239;
  
}
html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}
.App-title {
  font-size: 1.5em;
  color: var(--main-color);
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
